.c-left {
  background: linear-gradient(
    0deg,
    rgba(168, 212, 252, 1) 25%,
    rgba(132, 183, 252, 1) 100%
  );
}

.c-login {
  height: 100vh;
  max-height: 720px;
}

.title {
  text-align: left;
  font-family: Arial Black;
  font-weight: bold;
  font-size: 35px;
  background: #757575;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent;
  text-shadow: 0px 3px 3px rgba(255, 255, 255, 0.4),
    0px -1px 1px rgba(0, 0, 0, 0.3);
}

.title2 {
  margin-left: 10px;
  text-align: left;
  font-family: Arial Black;
  font-weight: bold;
  font-size: 35px;
  color: #fff;
  text-shadow: 0px 0 #000, 0 0px #000, 0px 0 #000, 0 -1px #000;
}

.subtitle {
  color: #fefefe;
  font-size: 25px;
  line-height: 40px;
  margin-bottom: 31px;
  padding: 0 20px;
}

.f-l-title {
  font-size: 19px;
  color: #757575;
}

.leaf {
  transform: rotate(150deg);
}
.img {
  color: transparent;
  width: 1080px;
  transform: translate(-110px, -40px) rotate(25deg);
  opacity: 0.3;
  max-width: 1000px;
  width: 600px;
}
.c-img {
  display: flex;
  justify-content: center;
  width: 100%;
}

@media (max-width: 620px) {
  .c-left {
    /* display: none; */
    width: 100%;
    border-bottom-right-radius: 0;
  }
  .c-right {
    width: 300px;
    position: absolute;
    margin-top: 130px;
  }
  .c-login {
    justify-content: center;
    max-height: 100vh;
  }
  .img {
    transform: translatey(60px) rotate(25deg);
  }
  .f-l-title {
    color: white;
  }
  .subtitle {
    font-size: 19px;
  }
}
