main {
  background: #f6f3f3;
}

.container-menu {
  background-color: white;
  padding: 0 10px;
  position: sticky;
  top: 85px;
  height: calc(100vh - 85px);
  overflow-y: auto;
}

.chats-container {
  background-color: white;
  padding: 0 10px;
  position: sticky;
  top: 85px;
  height: calc(100vh - 85px);
  overflow-y: auto;
}

.content {
  min-height: 100vh;
}

/* @media screen and (max-width: 1024px) {
  .container-menu,
  .chats-container {
    display: none;
  }
} */
